################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/demo01/bin/Debug/netcoreapp3.1
/demo01/obj
/webapi.demo01/bin/Debug/netcoreapp3.1
/webapi.demo01/obj
